<div class="{{classInput}}">
  <input type="{{typeInput}}" name="{{nameInput}}"
    {{#if value}}value={{value}}{{/if}}
    {{#if required}}required{{/if}} 
    {{#if readonly}}readonly{{/if}} 
     
  />
  <label for="{{nameInput}}">{{textLabel}}</label>

</div>
